@import "bootstrap/scss/bootstrap.scss";

.container {
  max-width: 800px;
  padding-top: 20px;
}

.add-btn {
  .inner-button {
    margin-right: 8px;
    border-radius: 50%;
    padding: 8px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  span {
    margin-right: 10px;
  }
}

.modal {
  background-color: rgba($color: #000000, $alpha: 0.5);
}


// Modal animation
.modal-enter-active {
  transition: opacity 0.25s ease-in;
}

.modal-leave-active {
  transition: opacity 0.01s ease-out;
}

.modal-enter-from {
  opacity: 0;
}




.card {
  &-header {
    min-height: 41px;
  }

  .tag {
    &-school {
      color: $white !important;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.5);
      background-color: $purple-400;
    }

    &-work {
      color: $white !important;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.5);
      background-color: $green-400;
    }

    &-house {
      color: $white !important;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.5);
      background-color: $cyan-400;
    }
  }

  &-btn-options {
    opacity: 0.1;
  }

  &:hover .card-btn-options {
    opacity: 1;
  }
}
